SECRET_KEY=replace-with-your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
RAZORPAY_KEY_ID=rzp_test_SepswsIaFiSDe3
RAZORPAY_KEY_SECRET=DRSdRI306urVSL2SHWhfA5z5
